@use "../abstracts/mixin";
@use "../abstracts/variable";

.tf-topbar {
  padding: 5px 0px;
}

.topbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px 40px;
  flex-wrap: wrap;
}

.topbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 28px;

  > li {
    &:not(:last-child) {
      padding-right: 28px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 16px;
        background-color: var(--gray-2);
      }
    }
  }
}

header {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  right: 0;
  @include mixin.transition3;
  z-index: 888;
  background-color: var(--white);

  &:not(.style-2, .style-3, .style-4, .style-5) {
    border-bottom: 1px solid var(--gray-5);
  }

  &.header-type-stc {
    box-shadow: 0px 4px 10px #ececec;

    .header-bottom {
      // display: none !important;
    }

    .btn-mobile {
      // display: flex !important;
    }

    .inner-header {
      // padding: 10px 0px;
    }

    .nav-icon {
      a {
        p {
          // display: none;
        }
      }
    }
  }

  &.style-3 {
    &.header-type-stc {
      // .nav-icon {
      //     display: flex !important;

      //     &.style-3 {
      //         display: none !important;
      //     }
      // }

      .inner-header {
        // padding: 10px 0px;
      }

      .header-center {
        > p {
          // display: none !important;
        }
      }
    }
  }
}

.tf-header {
  .logo-site {
    max-width: 185px;
    width: 100%;
  }

  .nav-icon {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

    &.style-2 {
      gap: 17px;
      align-items: center;

      li {
        .infor {
          display: flex;
          flex-direction: column;
          gap: 4px;
        }

        > a {
          position: relative;
          // padding-top: 8px;
          // padding-right: 6px;

          i,
          svg {
            @include mixin.transition3;
          }

          &:hover {
            path {
              stroke: var(--primary);
              // fill: var(--primary);
            }

            i {
              color: var(--primary);
            }
          }

          .count-box {
            top: -8px;
            right: -6px;
          }
        }
      }
    }

    &.style-3 {
      gap: 20px;

      li {
        &:not(:last-child) {
          padding-right: 20px;
          border-right: 1px solid var(--gray-5);
        }
      }

      .nav-icon-item {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 14px;

        .infor {
          display: flex;
          flex-direction: column;
          gap: 3px;
        }

        .icon {
          padding-top: 6px;
          padding-right: 17px;
        }

        .count-box {
          width: 26px;
          height: 26px;
          font-size: 14px;
          line-height: 22px;
        }

        i {
          font-size: 34px;
        }

        i,
        svg,
        .number-item {
          @include mixin.transition3;
        }

        &:hover {
          .number-item {
            color: var(--primary);
          }

          svg {
            path {
              stroke: var(--primary);
            }
          }

          i {
            color: var(--primary);
          }
        }
      }
    }

    &.style-4 {
      a {
        position: relative;
        color: var(--white);
        display: flex;
        align-items: center;
        gap: 4px;
      }

      .count-box {
        position: unset;
        background-color: var(--white);
        color: var(--gray);
        width: 20px;
        height: 20px;
        font-weight: 400;
        font-size: 13px;
        line-height: 25px;
      }
    }

    .count-box {
      position: absolute;
      @include mixin.flex(center, center);
      background-color: var(--primary);
      border-radius: 50%;
      color: var(--white);
      font-weight: 600;
      font-size: 10px;
      line-height: 15px;
      width: 18px;
      height: 18px;
      top: 0;
      right: 0;

      &.style-default {
        background-color: unset;
        border-radius: 0;
        display: unset;
        color: var(--white);
        width: unset;
        height: unset;
      }

      &.style-pst-2 {
        top: -4px;
        right: 5px;
      }
    }
  }

  .nav-icon-item {
    display: flex;
    text-align: center;
    flex-direction: column;

    .icon {
      font-size: 26px;

      &.icon-user {
        font-size: 28px;
      }
    }
  }

  .hover-shopcart {
    position: relative;

    &:hover {
      .dropdown-shopcart {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        pointer-events: all;
      }

      .progress-bar {
        width: 70%;
      }
    }

    .dropdown-shopcart {
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
      position: absolute;
      min-width: 414px;
      right: 0;
      top: 100%;
      box-shadow: 0px 4px 8px 0px #0000000d;
      padding: 30px;
      border-radius: 8px;
      background-color: var(--white);
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include mixin.transition3;
    }

    .subtotal {
      @include mixin.flex(center, space-between);
    }

    .box-btn {
      display: flex;
      gap: 10px;

      > * {
        width: 100%;
      }
    }
  }

  .inner-header {
    padding: 15px 0px;
    // @include transition3;
  }

  &.style-2 {
    .header-center {
      display: flex;
      gap: 20px;
    }

    .btn-open-nav {
      font-size: 20px;
    }
  }

  &.style-3 {
    .header-center {
      display: flex;
      flex-direction: column;
      gap: 4px;
      justify-content: center;
    }

    .inner-header {
      padding: 19px 0px;
      position: relative;
      z-index: 2;
    }

    .header-bottom {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 40%;
        background-color: var(--gray);
        z-index: 0;
      }

      &.bg-gray {
        &::before {
          background-color: var(--primary);
        }

        .nav-category-wrap {
          background-color: var(--primary);

          &::after {
            border-left: 10px solid var(--primary);
            background-color: var(--gray);
          }
        }

        .nav-title {
          &:hover {
            i,
            .title {
              color: var(--secondary);
            }
          }

          &.active {
            i,
            .title {
              color: var(--secondary) !important;
            }
          }
        }

        .box-navigation {
          .item-link {
            &:hover {
              color: var(--primary);
            }
          }
        }
      }

      &.type-bg-gray {
        background-color: var(--gray);
      }
    }
  }

  &.style-4 {
    .inner-header {
      position: relative;
      z-index: 2;
    }

    .header-bottom {
      position: relative;
      z-index: 1;
    }

    .header-left {
      display: flex;
      align-items: center;
      gap: 0px 40px;
      flex-wrap: wrap;
    }
  }

  &.style-5 {
    .inner-header {
      padding: 12px 0px;
    }

    .header-center {
      position: relative;
      z-index: 1;
    }

    .header-right {
      position: relative;
      z-index: 2;
    }
  }
}

.header-center {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-bt-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-bt-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-inner-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.nav-category-wrap {
  position: relative;

  &.style-white {
    .nav-title {
      i {
        color: var(--white);
      }
    }

    h6 {
      color: var(--white);
    }
  }

  .nav-title {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    &.hover-gray {
      &.active {
        i,
        .title {
          color: var(--gray) !important;
        }
      }

      &:hover {
        i,
        .title {
          color: var(--gray);
        }
      }
    }

    i {
      position: relative;
      @include mixin.transition3;
      top: -1px;
    }

    &.active {
      i {
        color: var(--primary) !important;
      }

      .title {
        color: var(--primary) !important;
      }
    }

    .title {
      @include mixin.transition3;
      line-height: 50px;
    }

    &:hover {
      i {
        color: var(--primary);
      }

      .title {
        color: var(--primary);
      }
    }
  }

  &.style-2 {
    background-color: var(--gray);

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 10px solid var(--gray);
      right: -9px;
      top: 0;
      position: absolute;
    }

    .nav-title {
      padding-right: 48px;

      i,
      .title {
        color: var(--white);
      }

      &:hover {
        i,
        .title {
          color: var(--primary);
        }
      }
    }
  }
}

.category-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-width: 285px;
  z-index: 99;
  background: #fff;
  border: 1px solid #ebebeb;
  width: calc(100% - 35px);
  transform: translateY(10px);
  @include mixin.transition3;
  @include mixin.hidden;

  &.active {
    @include mixin.visible;
    transform: translateX(0px);
  }

  ul {
    margin: 0;
    padding: 0 15px;

    li {
      box-shadow: inset 0px -1px 0px #ececec;
    }

    a {
      height: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;
      width: 100%;
      gap: 6px;
      font-size: 14px;
      line-height: 20px;
      padding-top: 10px;
      padding-bottom: 10px;

      svg {
        path {
          @include mixin.transition3;
        }
      }

      &:hover {
        padding-left: 10px;
        color: var(--primary);

        svg {
          path {
            stroke: var(--primary);
          }
        }
      }
    }
  }
}

.box-navigation {
  &.style-white {
    .item-link {
      color: var(--white);

      &:hover {
        color: var(--gray);
      }

      &.has-icon {
        .icon {
          background-color: var(--white);

          i {
            color: var(--primary);
          }
        }

        &:hover {
          .icon {
            background-color: var(--gray);
          }
        }
      }
    }
  }

  .box-nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .item-link {
    line-height: 50px;

    &.has-icon {
      @include mixin.flex(center, center);
      gap: 6px;

      .icon {
        @include mixin.transition3;
        width: 20px;
        height: 20px;
        @include mixin.flex(center, center);
        border-radius: 50%;
        background-color: var(--primary);
        color: var(--white);

        i {
          font-size: 12px;
        }
      }
    }
  }

  &.style-2 {
    .menu-item {
      &:not(:last-child) {
        .item-link {
          position: relative;
          padding-right: 20px;

          &::after {
            content: "";
            position: absolute;
            right: 0px;
            top: 50%;
            width: 1px;
            height: 16px;
            transform: translateY(-50%);
            background-color: var(--gray-2);
          }
        }
      }
    }
  }
}

.mobile-button {
  position: relative;
  width: 26px;
  height: 26px;
  background-color: transparent;
  cursor: pointer;
  display: block;

  span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 12px;
    background-color: var(--primary);
    border-radius: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: var(--primary);
    border-radius: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 5px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: var(--primary);
    border-radius: 10px;
  }
}

.support-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.delivery-progress {
  display: grid;
  gap: 10px;

  .progress-bar {
    @include mixin.transition5;
    width: 0%;
    transition-delay: 0.1s;
  }

  p {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

/* Start Open Nav Mobile */
.canvas-mb {
  border: unset !important;

  .tab-pane {
    &:not(.active) {
      .collapse {
        display: none;
      }
    }
  }

  .logo-site {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    max-width: 130px;
  }

  .mb-body {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--line);
    overscroll-behavior-y: contain;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary);
      border-radius: 5px;
    }

    &::-webkit-scrollbar {
      width: 3px;
    }
  }

  .mb-bottom {
    padding-right: 15px;
    padding-left: 15px;

    .btn-select {
      padding: 10px 0px;
    }
  }

  .btn-close-mb {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    color: var(--black);
    z-index: 100;
  }

  .mb-canvas-content {
    padding-top: 70px;
    min-width: 100%;
    max-width: min(90%, 320px);
    grid-auto-rows: minmax(0, 1fr) auto;
    isolation: isolate;
    height: 100%;
    width: 100%;
    display: grid;
    align-content: flex-start;
  }
}

.nav-ul-mb {
  margin-bottom: 30px;

  .sub-nav-menu {
    padding-left: 10px;
    margin-bottom: 15px;

    &.sub-menu-level-2 {
      margin-bottom: 5px;
    }
  }

  .btn-open-sub {
    position: relative;
    width: 20px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:after,
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--black);
      transition: 0.4s ease 0.1s;
      margin: auto;
    }

    &::before {
      width: 2px;
      height: 12px;
    }

    &::after {
      width: 12px;
      height: 2px;
    }
  }

  .nav-mb-item {
    padding: 2px 0px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--line);
    }

    .mb-menu-link {
      min-height: 40px;
      font-weight: 600;
      font-size: 14px;
      line-height: 40px;
      color: var(--black);
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:not(.collapsed) {
        .btn-open-sub {
          &::before {
            transform: rotate(90deg);
          }
        }
      }
    }

    &.active {
      .mb-menu-link {
        color: var(--primary);

        .btn-open-sub {
          &::after,
          &::before {
            background-color: var(--primary);
          }
        }
      }

      .sub-nav-link.active {
        color: var(--primary);

        .btn-open-sub {
          &::after,
          &::before {
            background-color: var(--primary);
          }
        }
      }
    }
  }

  .sub-nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
    color: var(--dark);

    &:not(.collapsed) {
      .btn-open-sub {
        &::before {
          transform: rotate(90deg);
        }
      }
    }

    .btn-open-sub {
      &::after,
      &::before {
        background-color: var(--black);
      }
    }
  }
}

/* -- End Open Nav Mobile -- */

.tf-nav-menu {
  .title {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 13px 18px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
  }

  .menu-category-list {
    border: 1px solid var(--gray-5);
    border-top: unset;
    border-radius: 0px 0px 10px 10px;
    position: relative;
  }

  .menu-item {
    position: relative;
  }

  .sub-menu-container {
    position: absolute;
    top: 0;
    left: 100%;
    // max-width: 560px;
    width: max-content;
    box-shadow: 0px 4px 8px 0px #0000000d;
    border: 1px solid var(--gray-5);
    border-radius: 10px;
    pointer-events: none;
    @include mixin.hidden;
    @include mixin.transition3;
    transform: translateY(10px);
    z-index: 1;
    background-color: var(--white);
  }

  .sub-menu-list {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .sub-menu-item {
      display: inline-flex;
    }
  }

  .item-link {
    padding: 0px 18px;
    position: relative;
    display: flex;

    > span {
      padding: 15px 0px 14px;
      display: flex;
      gap: 6px;
      align-items: center;
      width: 100%;
      position: relative;

      &::after {
        content: none;
        position: absolute;
        width: 0%;
        height: 1px;
        bottom: 0;
        left: auto;
        right: 0;
        background-color: var(--primary);
        @include mixin.transition3;
      }
    }

    &::after {
      content: "\e919";
      position: absolute;
      font-family: variable.$fontIcon;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .menu-item {
    .icon {
      font-size: 20px;
    }

    &:not(:last-child) {
      .item-link {
        > span {
          border-bottom: 1px solid var(--line-2);
        }
      }
    }

    &:hover {
      .item-link {
        color: var(--primary);

        svg {
          path {
            stroke: var(--primary);
          }
        }

        > span {
          &::after {
            width: 100%;
            left: 0;
            right: auto;
          }
        }
      }

      .sub-menu-container {
        transform: translateY(0px);
        @include mixin.visible;
        pointer-events: all;
      }
    }
  }
}

.main-nav-menu {
  .nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .item-link {
    display: flex;
    align-items: center;
    gap: 3px;
    line-height: 50px;
    color: var(--text-2);
    position: relative;

    i {
      @include mixin.transition3;
      color: var(--text-2);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: var(--primary);
      transform: scale(0);
      @include mixin.transition3;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: calc(100% + 0px);
      width: calc(100% + 60px);
      display: none;
    }
  }

  .sub-menu-container {
    position: absolute;
    background-color: var(--white);
    z-index: 999;
    top: 100%;
    left: 0;
    border-radius: 5px;
    box-shadow: 0px 4px 9px 0px rgba(0, 64, 193, 0.2);
    transform: translateY(10px);
    @include mixin.transition3;
    @include mixin.hidden;
    pointer-events: none;
    padding: 5px 0px;

    &.mega-menu {
      padding: 30px;

      &.mega-home {
        padding-top: 32px;
        padding-bottom: 36px;
      }
    }
  }

  .sub-menu-list {
    min-width: 200px;

    li {
      &:not(:last-child) {
        a {
          span {
            border-bottom: 1px solid var(--gray-5);
          }
        }
      }

      a {
        padding: 0px 20px;
        display: block;

        span {
          padding: 10px 0px;
          display: block;
          position: relative;
        }
      }

      &.active {
        a {
          color: var(--primary);
        }
      }
    }
  }

  .nav-item {
    position: relative;

    &:hover {
      .item-link {
        color: var(--primary);

        .icon {
          transform: rotate(180deg);
          color: var(--primary);
        }

        &::after {
          transform: scale(1);
        }

        &::before {
          display: block;
        }
      }

      .sub-menu-container {
        transform: translateY(0px);
        @include mixin.visible;
        pointer-events: all;
      }
    }

    &.active {
      .item-link {
        color: var(--primary);

        .icon {
          color: var(--primary);
        }
      }
    }
  }

  &.style-white {
    .item-link {
      color: var(--white);

      .icon {
        color: var(--white);
      }

      &::after {
        background-color: var(--black);
      }
    }

    .nav-item {
      &:hover,
      &.active {
        .item-link {
          color: var(--black);

          .icon {
            color: var(--black);
          }
        }
      }
    }
  }

  &.style-white-2 {
    .item-link {
      color: var(--white);

      .icon {
        color: var(--white);
      }

      &::after {
        background-color: var(--primary);
      }
    }
  }
}

.mega-menu {
  width: auto;

  // max-height: calc(100vh - 200px);
  overflow: auto;

  .view-all-demo {
    margin-top: 28px;
  }

  &.mega-home {
    max-width: unset;
    width: 100%;
  }

  &.here {
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: all !important;
  }

  .wrapper-sub-menu {
    max-width: 1490px;
    margin: auto;
  }
}

.row-demo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  overflow-y: auto;
  padding-right: 15px;
  margin-right: -15px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 5px;
  }

  .demo-item {
    border-radius: 8px;
    background-color: #f7f7f7;
    padding: 8px 8px 0px;
    border: solid 1px var(--gray-4);
    transition: border 0.4s;
    margin-bottom: 1px;
    display: inline-flex;
    position: relative;

    > a {
      display: flex;
      flex-direction: column;
    }

    .demo-name {
      font-size: 14px;
      line-height: 42px;
      display: block;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center;
      font-weight: 600;
      @include mixin.transition3;
      color: var(--text-main);
    }

    &:hover,
    &.active {
      border-color: var(--primary);

      .demo-name {
        color: var(--primary);
      }
    }
  }
}

.demo-label {
  position: absolute;
  top: 9px;
  right: 7px;
  gap: 5px;
  display: flex;

  span {
    font-size: 10px;
    line-height: 19px;
    padding: 0 8px;
    background-color: rgb(131 183 53);
    color: var(--white);
    border-radius: 3px;
    @include mixin.flex(center, center);
  }

  .demo-new {
    background-color: rgb(72 212 187);
  }

  .demo-hot {
    background-color: rgb(252 87 50);
  }
}

.wrapper-sub-menu {
  display: flex;
  gap: 30px;
}

.mega-menu-item {
  min-width: 140px;

  .menu-heading {
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--gray-4);
  }

  .menu-list {
    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &.active {
        a {
          color: var(--primary);
        }
      }
    }
  }
}

.bottom-bar-language {
  display: flex;
  align-items: center;

  > * {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .tf-curs {
    border-right: 1px solid var(--gray-4);
  }

  .tf-lans {
    .filter-option-inner-inner {
      padding: 8px 20px;
    }

    .dropdown-menu {
      padding: 7px 5px !important;
    }
  }

  .image-select {
    .filter-option-inner-inner {
      padding: 10px 10px !important;
    }
  }
}

.bar-lang {
  .image-select {
    .dropdown-toggle {
      .filter-option-inner {
        padding-right: 10px;
      }

      &::after {
        content: "\e918";
        margin: 0;
      }
    }

    .filter-option-inner-inner {
      padding: 4px 10px;
    }

    > .dropdown-menu {
      min-width: 90px;
      padding: 15px 20px !important;

      > .inner {
        overflow-y: hidden !important;
      }

      ul {
        > li {
          width: 100%;
        }
      }

      .dropdown-item {
        width: 100%;

        .text {
          justify-content: flex-start;
        }
      }
    }
  }

  .tf-curs {
    .image-select {
      > .dropdown-menu {
        margin-left: -60px !important;
        width: 200px;
      }
    }

    .filter-option-inner {
      padding-right: 17px !important;
    }

    .filter-option-inner-inner {
      width: 40px;
    }
  }
}

.tf-lans {
  .dropdown-menu {
    padding: 10px 5px;
  }
}

.tf-curs {
  .inner {
    @include mixin.flex(center, center);
    flex-direction: column;
  }

  .dropdown-menu {
    border-radius: 8px;

    a {
      .text {
        img {
          border-radius: 50%;
          width: 20px !important;
        }
      }
    }

    li {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}
